<% provide(:title, 'Contact') %>
<h1>Contact</h1>
<p>
  This is the contact page for the
  <a href="http://railstutorial.org/">Ruby on Rails Tutorial</a>
  sample application.
</p>

<p>
	Send an email to spam@kano.lt if You have any question
</p>